@model SportsX.Mvc.Models.ClientePJRequestModel

@{
    ViewData["Title"] = "Pessoa Jurídica";
}

<h4>Criar Pessoa Juridica</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePJ">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Classificacao" class="control-label"></label>
                <input asp-for="Classificacao" class="form-control" />
                <span asp-validation-for="Classificacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PessoaJuridica.Cnpj" class="control-label"></label>
                <input asp-for="PessoaJuridica.Cnpj" class="form-control" />
                <span asp-validation-for="PessoaJuridica.Cnpj" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PessoaJuridica.RazaoSocial" class="control-label"></label>
                <input asp-for="PessoaJuridica.RazaoSocial" class="form-control" />
                <span asp-validation-for="PessoaJuridica.RazaoSocial" class="text-danger"></span>
            </div>

            <div class="form-group">
                <h3>Endereço</h3>
                <label asp-for="Endereco.Cep" class="control-label"></label>
                <input asp-for="Endereco.Cep" class="form-control" />
                <span asp-validation-for="Endereco.Cep" class="text-danger"></span>

                <label asp-for="Endereco.Rua" class="control-label"></label>
                <input asp-for="Endereco.Rua" class="form-control" />
                <span asp-validation-for="Endereco.Rua" class="text-danger"></span>

                <label asp-for="Endereco.Bairro" class="control-label"></label>
                <input asp-for="Endereco.Bairro" class="form-control" />
                <span asp-validation-for="Endereco.Bairro" class="text-danger"></span>

                <label asp-for="Endereco.Cidade" class="control-label"></label>
                <input asp-for="Endereco.Cidade" class="form-control" />
                <span asp-validation-for="Endereco.Cidade" class="text-danger"></span>

                <label asp-for="Endereco.Numero" class="control-label"></label>
                <input asp-for="Endereco.Numero" class="form-control" />
                <span asp-validation-for="Endereco.Numero" class="text-danger"></span>

                <label asp-for="Endereco.Complemento" class="control-label"></label>
                <input asp-for="Endereco.Complemento" class="form-control" />
                <span asp-validation-for="Endereco.Complemento" class="text-danger"></span>
            </div>

            <div class="form-group">
                <h3>Telefones</h3>
                <label asp-for="Telefones[0].Numero" class="control-label"></label>
                <input asp-for="Telefones[0].Numero" class="form-control" />
                <span asp-validation-for="Telefones[0].Numero" class="text-danger"></span>

                <label asp-for="Telefones[1].Numero" class="control-label"></label>
                <input asp-for="Telefones[1].Numero" class="form-control" />
                <span asp-validation-for="Telefones[1].Numero" class="text-danger"></span>


                <label asp-for="Telefones[1].Numero" class="control-label"></label>
                <input asp-for="Telefones[1].Numero" class="form-control" />
                <span asp-validation-for="Telefones[1].Numero" class="text-danger"></span>
                <div class="form-group">
                    <input type="submit" value="Criar" onclick="location.href='@Url.Action("CreatePJ", "Cliente")'" class="btn btn-primary" />
                </div>
        </form>
    </div>
    <div>
        <a asp-action="Index">Voltar para listagem de clientes</a>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type='text/javascript' src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
    <script>
        $(document).ready(function () {
            $("#PessoaJuridica_Cnpj").inputmask("mask", { "mask": "99.999.999/9999-99" }, { reverse: true });
            $("#Endereco_Cep").inputmask("mask", { "mask": "99-999-999" });
        });
    </script>
}

